.fixed {
  display: grid;
  justify-content: center;
  position: fixed;
  right: 53px;
  bottom: 52px;
  z-index: 20;

  &-scrollup {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 38px;
    height: 38px;
    background-color: #35b8ff;
    transition: background-color 0.2s;
    border-radius: 100%;
    margin-bottom: 32px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;

    &:hover {
      cursor: pointer;
    }
  }

  &-chat {
    width: 50px;
    height: 50px;
    background-color: #1e1e1e;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 9.1px #35b8ff);

    &:hover {
      cursor: pointer;
    }
  }

  &--scroll {
    .fixed-scrollup {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.2s;
    }
  }
}
