@media (max-width: 1500px) {
  .preview {
    &-slider {
    }

    &-services {
      .service {
        &-title {
          font-size: 17px;
          margin-bottom: 10px;
        }

        &-text {
          text-transform: none;
        }

        &-icon {
          width: 72px;
          height: 72px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .preview {
    &-services {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 1340px) {
  .preview {
    &-slider {
      .slide {
        &-title {
          font-size: 45px;
        }

        &-list {
          font-size: 19px;
        }

        &-price .price {
          &-default .price-money {
            font-size: 40px;
          }

          &-discount {
            color: #adadad;
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 1130px) {
  .preview {
    &-slider {
      .slide {
        &-image {
          justify-content: start;

          img {
            width: 400px;
          }
        }

        &-content {
          justify-content: end;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .preview .preview-slider .slide-title {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .preview .preview-slider .swiper-slide {
    grid-template-columns: 1fr;

    .slide {
      &-content {
        justify-content: start;
      }

      &-image {
        justify-content: center;

        img {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .preview {
    &-services {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 500px) {
  .preview .preview-slider .swiper-slide {
    .slide {
    }
  }
}

@media (max-width: 420px) {
  .preview .preview-slider .slide {
    &-title {
      font-size: 30px;
    }

    &-list {
      font-size: 17px;
      display: grid;
      grid-template-columns: 1fr;
      line-height: normal;
      gap: 5px;
      margin-bottom: 35px;
    }

    &-price .price-discount {
      font-size: 20px;
    }

    &-price .price-default .price-money {
      font-size: 35px;
    }
  }
}
