@media (max-width: 1500px) {
  .popular-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .popular-list {
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .popular-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 640px) {
  .popular-list {
    grid-template-columns: 1fr;
  }
}
